@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ‘Montserrat’, sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 20px;
}
/* Navigation Bar  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #000;
  height: 70px;
  width: 100%;
}

.logo {
  color: #808080;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 14px;
}

nav ul li a {
  color: #fff;
  font-size: 17px;
}

nav ul li a:hover {
  color: #808080;
  transition: all 0.5s;
}

.cheakbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin: 3px 15px;
  cursor: pointer;
  display: none;
}

#cheak {
  display: none;
}
